/* ---- Some Resets ---- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---- Global ---- */
h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

:root {
    --color-main: #464337;
}

/* ==== Home Page ==== */
/* ---- Navbar ---- */
.navbar {
    background: var(--color-main);
    color: azure;
    padding: 1.25em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
}

.navbar img {
    width: 10%;
    height: auto;
    padding: 0 1rem;
    flex-shrink: 0;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.navbar-list ul {
    display: flex;
}

.navbar-list li {
    list-style-type: none;
}

.navbar-list a {
    color: #fff;
    text-decoration: none;
    margin-left: 2rem ;
    font-size: 2rem;
    text-transform: uppercase;
}

.navbar-list a:hover {
    color: red;
}



/* ---- Intro ---- */
.introduction {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
}

.introduction-container {
    display: flex;
    /* border: 2px solid red; */
}

.introduction h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.introduction-container p {
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
}

.introduction-container img {
    width: 20%;
    height: auto;
}

/* ---- Recipes ---- */
.recipes {
    background-color: var(--color-main);
    padding: 2rem;
    color: #fff;
}


.recipes-container {
    display: flex;
    gap: 20px;
}

.recipes-container-item {
    display: flex;
    flex-direction: column;
}

.recipes-container-item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipes-container-item-link a {
    align-self: center;
    justify-self: center;
}

.recipes-container-item-link img {
    width: 70%;
    height: auto;
    border: 4px solid black;
    border-radius: 10px;
    
}

.recipes h2 {
    padding-bottom: 3rem;
}

.recipes-container-item p {
    padding-top: 1rem;
    text-align: center;
}





/* ---- Odin ---- */
.odin {
    padding: 5rem 2rem;
}

.odin h2 {
    padding-bottom: 3rem;
}

.odin p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}


/* ---- Footer ---- */

footer {
    background-color: var(--color-main);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.footer p {
    font-size: 1.5rem;
}

.footer p a {
    color: black;
}

/* ==== Other Pages ==== */
.content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.content-main-image img{
    border: 4px solid black;
    border-radius: 10px;
}

.content-main-info {
    padding: 2rem;

}

.content-main-info h2 {
    padding-bottom: 2rem;
}

.content-main-info p {
    font-size: 1.2rem;
}


.container h2 {
    color: #000;
    text-decoration: underline;
    padding-bottom: 2rem;
    background-color: var(--color-main);
    padding: 2rem;
}


.container p, 
.container li {
    font-size: 1.2rem;
}

.container ul,
.container ol {
    padding: 1.5rem 3rem;
}

/* ==== Media Queries ==== */
